<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moe.feng.luspeed" >

    <uses-feature android:name="android.hardware.type.watch" />

	<uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >

	    <meta-data android:name="com.google.android.wearable.beta.app" android:value="@integer/google_play_services_version" android:resource="@xml/wearable_app_desc"/>
	    <meta-data android:name="com.mobvoi.ticwear.app" android:resource="@xml/wearable_app_desc"/>

        <activity
            android:name="moe.feng.luspeed.EntryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	    <activity
		    android:name="moe.feng.luspeed.MainActivity"
		    android:label="@string/app_name" >
		    <intent-filter>
			    <action android:name="android.intent.action.MAIN" />
		    </intent-filter>
	    </activity>

	    <activity
		    android:name="moe.feng.luspeed.WizardActivity"
		    android:label="@string/app_name" >
		    <intent-filter>
			    <action android:name="android.intent.action.MAIN" />
		    </intent-filter>
	    </activity>
    </application>

</manifest>
